.income-content {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: lightseagreen;
  border: 1px solid black;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2); 
  opacity: 1;
  visibility: visible;
}
.income-cancel-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: darkorange;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.income-cancel-button:hover{
 background: rgb(255, 159, 41);
}

.income-cancel-button:active{
 background: rgb(222, 122, 0);
}

.income-form{
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.income-year-input{
  width: 18%
}

.income-value-input{
  width: 40%;
}

.income-submit-container{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.income-submit-button{
  bottom: 0;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: rgb(80, 66, 173);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.income-submit-button:hover{
  background: rgb(103, 91, 187)
}

.income-submit-button:active{
  background: rgb(61, 46, 155)
}



// // table, th, td {
// //     border: 1px solid black;
// // }

// .table {
//   border-collapse: collapse;
//   text-align: left;
//   width: 100%;
// }
// .table tr {
//   background: white;
//   border-bottom: 1px solid
// }
// .table td {
//   padding: 10px 20px;
//   width: 100px;
// }

// .table th {
//   padding-left: 30px;
//   padding-top: 20px;
//   font-weight: bold;
//   background: black;
//   color: white;
// }
