.income-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 45%;
  margin-bottom: 5rem;;
  background: lightseagreen;
  border: 1px solid black;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2); 
  z-index: 2;
  min-width: 400px;
  min-height: 250px;
}

.income-cancel-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: darkorange;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.income-cancel-button:hover{
 background: rgb(255, 159, 41);
}

.income-cancel-button:active{
 background: rgb(222, 122, 0);
}

.income-form{
  width: 50%;
  background-color: beige;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  border: solid 3px black;
  min-width: 350px;
}

.income-input-center{
  width: 100%;
  display: flex;
  justify-content: center;
}

.income-input-container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.income-year-input{
  width: 10.5vw;
}

.income-value-input{
  width: 10.5vw;
}

.income-button-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.income-submit-button{
  bottom: 0;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: mediumseagreen;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.income-submit-button:hover{
  background: rgb(76, 202, 133);
}

.income-submit-button:active{
  background: rgb(36, 151, 88);
}

.input-size{
  font-size: large;
  width: 10.5vw;
}

label {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: large;

  input, select {
    position: absolute;
    left: 50%;
    text-align: center;    
  };


}

// .input-label{
//   display: flex;
//   justify-content: space-between;
// }