.income-index{
  height: 100%;
  background-color: lightseagreen;
}

.income-index-container{
  padding-top: 75px;
}

.expense-index{
  height: 100%;
  width: 100vw;
  background-color: mediumslateblue;
}

.expense-index-container{
  padding-top: 75px;
}

table, th, td {
    border: 1px solid black;
    font-family: 'Lora';
}

table {
  // border-collapse: collapse;
  width: 100%;
}

table th {
  padding: 10px 20px;
  width: 100px;
  min-width: 100px;
  font-weight: bold;
  background: darkgray;
  color: white;
}

table tr {
  background: white;
  border-bottom: 1px solid
}
table td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 20px;
  width: 100px;
  min-width: 100px;
}

.index-button{
  display: table-cell;
  margin: 0 4%;
}

.index-edit-button{
  background-color: rgb(187, 143, 32);
}

.index-edit-button:hover{
 background: rgb(235, 182, 50);
}

.index-edit-button:active{
 background: rgb(151, 112, 13);
}

.index-delete-button{
  background: rgb(182, 0, 0);
}

.index-delete-button:hover{
 background: rgb(230, 0, 0);
}

.index-delete-button:active{
 background: rgb(138, 0, 0);
}
