.login-container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-background-container{
    position: absolute;
    background-image: linear-gradient(rgba(199, 184, 184, 0.05), rgba(0,0,0, .05)), url("../assets/images/waterfall.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.login-form{
    background-color: rgba(159, 159, 159, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    border-radius: 8px;
    padding: 20px 20px;
}

.login-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-header{
    font-size: 35px;
    font-weight: 900;
    margin: 0.5rem 0;
    font-family: 'Lora';
}

.login-email-input{
    margin: 0.5rem 0;
    padding: 5px 16px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.login-password-input{
    margin: 0.5rem 0 0 0;
    padding: 5px 16px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.login-submit{
    background-color: seagreen;
    color: white;
    padding: 8px 24px;
    border-radius: 7px;
    font-weight: 600;
    width: 45%;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid dimgray;
}

.login-submit:hover{
    background-color: rgb(38, 168, 95)
}

.login-demo-container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-demo-button{
    background-color: rgb(89, 1, 152);
    color: white;
    padding: 8px 24px;
    font-weight: 600;
    width: 50%;
    font-size: 1rem;
    border: 1px solid dimgray;
    border-radius: 7px;
}

.login-demo-button:hover{
    background-color: rgb(118, 10, 196);
}

.login-pillow{
    margin-bottom: 0.7rem;
    width: 65%;
    border-bottom: 1px solid rgb(104, 104, 104);
}


.login-alt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.login-alt-link{
    margin-top: 0.25rem;
    color: rgb(0, 0, 0);
}

.login-alt-link:hover{
       color: rgb(0, 96, 99); 
}