.main-page-div {
  background-color: rgb(7, 120, 181);
  position: absolute;
  display: flex;
  // flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  // flex-direction: column;
  // position: relative;
  // left: 25%;
  // width: 1000px;
  height: 55%;
  background: rgb(96, 96, 96);
  // justify-content: space-around;
  margin-bottom: 5rem;
}

.container .box {
  // position: relative;
  width: (500px - 20px);
  height: (500px - 20px);
  float: left;
  background: yellow;
  margin: 10px;
  border-radius: 20px;
}

.box h1 {
  font-size: 40px;
  font-weight: bold;
}

// .pie-chart-div {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   text-align: center;
// }

.pie-chart-div{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.pie-chart {
  position: relative;
  width: 300px;
  // height: inherit;
}

