.signup-content-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-background-container{
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0, .05), rgba(0,0,0, .05)), url("../assets/images/forest.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.signup-form{
    background-color: rgba(159, 159, 159, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 9%;
    border-radius: 8px;
    padding: 20px 20px;
}

.signup-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-header{
    font-size: 35px;
    font-weight: 900;
    margin: 0.5rem 0;
    font-family: 'Lora';
}

.signup-errors-container{
    color: rgba(0, 0, 0, 0.795);
    font-size: 21px;
    margin-bottom: 0.4rem;
}

.signup-input{
    padding: 5px 16px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.signup-password-input{
    margin: 0.5rem 0 0 0;
    padding: 5px 16px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.signup-submit{
    background-color: seagreen;
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    font-weight: 600;
    width: 45%;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid dimgray;
}

.signup-submit:hover{
    background-color: rgb(38, 168, 95)
}

.demo-container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.demo-button{
    background-color: rgb(89, 1, 152);
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    font-weight: 600;
    width: 50%;
    font-size: 1rem;
    border: 1px solid dimgray;
}

.demo-button:hover{
    background-color: rgb(118, 10, 196);
}

.signup-alt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.signup-alt-link{
    margin-top: 0.25rem;
    color: rgb(0, 0, 0);
}

.signup-alt-link:hover{
       color: rgb(0, 96, 99);  
}